:root{
    --title-color:#916cdb;
    --primary-color:#34cd79;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;   
 }

 body{
     background: #fff0f5;
     -webkit-font-smoothing:antialiased;
 }

 a{
    text-decoration: none;
 }

 h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color:var(--title-color);
 }

#page-home{
    height: 100vh;
    background:url("../icones/home-background.svg") no-repeat;
    background-position: 35vw bottom;
   }



